<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/geolocalize.js"></script>
</head>

<body>

  <nav>
    <div id="nav-bar">
      <h1>Turister</h1>
      <img id="menu-btn" src="/images/menu-icon-2.png" alt="menu-icon">
    </div>

    <div id="menu-container">
      <div class="menu-box"><a href="/">Home</a></div>
      <div class="menu-box"><a href="/">Ver Rutas</a></div>
      <div class="menu-box"><a href="/addplace">Añadir Lugar de Interés</a></div>
      <div class="menu-box"><a href="/">Añadir Ruta</a></div>
      <div class="menu-box"><a href="/auth/login">Log in</a></div>
      <div class="menu-box"><a href="/auth/signup">Sign up</a></div>
    </div>
  </nav>

  {{{body}}}
  <script src="/javascripts/events.js"></script>
  <script src="/javascripts/addPlaces.js"></script>
  <script src="/javascripts/navMap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpK3H8uHIj99teUQ5u0J6z7uDH9_DgEko"></script>



</body>

</html>