<div id="mapAddPlaces"></div>
<form action="/addplace" method="POST" id="add-places-form">
  <label for="placename">Añade un lugar de interés</label>
  <input id="placename" type="text" name="placename" placeholder="Nombre del lugar">
  <input id="placedescription" type="text" name="placedescription" placeholder="Descripcion del lugar">
  <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
  <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">
  <button id="addplace-btn">Enviar</button>
</form>